# Private / Sensitive Details
private.tex
private.tex.bak

# Build Artifacts
dist/

# Dependencies / Worker Tooling
node_modules/
.pnpm-store/
.wrangler/
pnpm-debug.log*


# LaTeX Build Artifacts
*.aux
*.fdb_latexmk
*.fls
*.log
*.out
*.pdf
*.synctex.gz
