\providecommand{\resumecount}{3}
\providecommand{\myEmailOne}{email1@example.com}
\providecommand{\myEmailTwo}{email2@example.com}
\providecommand{\myEmailThree}{email3@example.com}
\providecommand{\myMobile}{+00-0000000000}